body{
	color: #302525;
	text-align: center;
	text-align: justify;
	font-size: 5;
	background-color: #ec98bd;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
a:unvisited{
	color: #302525; 
}
a:visited{
	color: #302525; 
}
footer{
	display: block;
	background-color: #754165;
	color: #ffa5a5;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	size: 5; 
	text-indent: 50px;
	padding: 40px;
}
div {
	background-color: #ffa5a5;
    border: 25px solid #e56767;
    padding: 25px;
    margin: 25px;
	border-color:#e56767;
}
div.desc {
	background-color:antiquewhite;
	font-size: 5;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #302525;
}
div.character{
	color: #302525;
}
button{
	 background-color: #754165;
    border: 5px solid #e56767;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button.archive{
	background-color: #754165;
    border: 5px solid #e56767;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
img.page{
	width:50%;
}
img.charIcon{
	border: 10px solid whitesmoke;
}
img.logo{
	height:300px;
	width:300px;
	border: 5px solid whitesmoke;
	border-radius: 5%;
}
img.archive{
	height:400px;
	width:200px;
	border: 15px solid whitesmoke;
	border-radius: 5%;
}
select.archive {
    width: 50%;
    padding: 16px 20px;
    border: 4px solid whitesmoke;
    background-color: #754165;
}