/* hi */
body{
	color: #ffe6c9;
	text-align: center;
	text-align: justify;
	font-size: 5;
	background-color: #CBD76B;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
@font-face {
  font-family: Title, "Mona";
  src: url("../Fonts/Mona-Lite/Mona-Free.woff");
}
a{
    color: #ffe6c9;
	text-align: center;
	text-align: justify;
	font-size: 5;
}
a:visited {
    color: #ffe6c9;
	text-align: center;
	text-align: justify;
	font-size: 5;
}
footer{
	display: block;
	background-color: #E76043;
	color: #ffe6c9;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	size: 5; 
	text-indent: 50px;
	padding: 40px;
}
p {
    text-indent: 50px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #ffe6c9;
	text-align: center;
	text-align: justify;
	font-size: 5;
}
ul{
	font-size: 6;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
h1,h2,h3,h4,h5,h6{
font-size: 50px; 
text-decoration: underline;
}
div {
	background-color: #EC9A72;
    border: 25px solid #E76043;
    padding: 25px;
    margin: 25px;
}
section{
	background-color: #EC9A72;	
	padding: 25px;
	font-size: 8; 
}
/* People borders*/ 
div.Alice{
	background-color: lightpink; 
	border-color:#ffe6c9;
	color: white;
}
div.Amina{
	background-color:#72d14f;
	border-color:#fe6761;
	color: antiquewhite;
}
div.Christine{
	background-color: hotpink;
	border-color:white;
	color: black;
}
div.Gianna{
	background-color: #4B0082;
	border-color:darkgreen;
	color: antiquewhite;
}
div.Kienen{
	background-color: #952143;
	border-color:#D25A7E;
	color: antiquewhite;
}
div.Nick{
	background-color: slategray;
	border-color: ghostwhite;
	color: white;
}
div.Shiro{
	background-color: #ff8c69;
	border-color:#98ff98;
	color: white;
}
/* comic borders*/ 
div.DGLITW{
	background-color: #572966;
	color: antiquewhite;
	border-color:maroon;
}
div.MF{
	background-color: #8fb8de ;
	color: antiquewhite;
	border-color:#9a94bc;
	
}
div.IL{
	background-color: #89c7d4 ;
	color: antiquewhite;
	border-color:#F7FF74;
}
div.LE{
	background-color: #89c7d4 ;
	color: antiquewhite;
	border-color:#F7FF74;
}
div.DTIS{
	background-color: #89c7d4 ;
	color:antiquewhite ;
	border-color:#ff557f;
}
div.TAC{
	background-color: #89c7d4;
	color:antiquewhite ;
	border-color:#F7FF74;
}
div.discordAd{
	border: 10px solid white;
	background-color:#7289DA;
	padding: 10px;
    margin: 10px;
}
img.icon{
	height:150;
	width:150;
	border: 5px solid #ffe6c9;
	border-radius: 5%;
}
img.ad{
	height:640;
	width:480;
}
img.social{
	border: 5px solid #f5e5cf;
	width: auto;
	max-width:80%;
	max-height:80%;
	object-fit: cover;
}
img.trees{
	border-radius: 50px; 
}
iframe.disc{
	border: 20px solid #ffe6c9;
	border-radius: 5%;
	resize: both;
    overflow: auto;
}
ul{
	padding: 25px;
}
button{
background-color:#E76043;
text-align: center;
border: 5px #ffe6c9;
color: antiquewhite;
border-radius:10%;
}
button.fof{
padding: 15px;
}
/*I'm a sad bitch*/
table.faq{
	border: 5px solid #CBD76B;
}
.faq {
  border-collapse: collapse;
  width: 100%;
}

.faq td, .faq th {
  
  padding: 8px;
}

.faq th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6A552A;
  color: #ffe6c9;
}

.faq th:hover {
background-color: #ffe6c9; 
color: #6A552A;}

.faq td{
background-color: #CBD76B; 
color: #6A552A;}