.topnav {
  overflow: hidden;
  background-color: #EC9A72;
  height: inherit;
  width: inherit;
}

.nav{
  float: left;
  color: #ffe6c9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: auto;
}

.nav :hover {
  background-color: #ffe6c9;
  color: #E76043;
}

#active {
  background-color: #E76043;
  color: #ffe6c9;
}