img.cicon{
	height:200px;
	width:200px;
	border: 5px solid #ffe6c9;
	border-radius: 5%;
}
#sInput{
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 75%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 5%;
}
p#gen{
	width: 50%;
	padding: 2px;
}
.topT{
	float: left;
}
/* squish*/
table.squish{
	border: 5px solid #CBD76B;
	width: 50%;
}
.squish {
  border-collapse: collapse;
  width: 100%;
}

.squish td, .squish th {
  
  padding: 8px;
}

.squish th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6A552A;
  color: #ffe6c9;
}

.squish th:hover {
background-color: #ffe6c9; 
color: #6A552A;}

.squish td{
background-color: #CBD76B; 
color: #6A552A;}

.squish td{
  display: none;
}