input.search{
    width: 25%;
    background-color: #f7f6f2;
    border-radius: 5%;
}
img.cicon{
	height:200px;
	width:200px;
	border: 5px solid #f7f6f2;
	border-radius: 5%;
}
img.fullbody{
	height: 750px;
	width: 337px;
}
img.relationship{
	height:200px;
	width:200px;
	border: 5px solid #f7f6f2;
	border-radius: 5%;
}
span.cinfo{
	font-size: 24px;
}
.topT{
	float: left;
}
/* squish*/
table.squish{
	border: 5px solid #CDD77A;
}
.squish {
  border-collapse: collapse;
  width: 100%;
}
.squish td, .squish th {
  
  padding: 8px;
}

.squish th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4C403D;
  color: #f7f6f2;
}

.squish th:hover {
background-color: #f7f6f2; 
color: #4C403D;}

.squish td{
background-color: #CDD77A; 
color: #4C403D;}

.squish td{
  display: none;
}
/*l&d*/
table.ld{
	border: 5px solid #CDD77A;
	width: 50%;
}
.ld {
  border-collapse: collapse;
  width: 100%;
}

.ld td, .ld th {
  
  padding: 8px;
}
.ld th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4C403D;
  color: #f7f6f2;
 font-size: 28px;
}
.ld td{
background-color: #CDD77A; 
color: #4C403D;
font-size: 24px;
}
p#credit{
	font-size: 16px;
}